[submodule "html/wp"]
	path = html/wp
	url = https://github.com/WordPress/WordPress.git
[submodule "html/assets/themes/_s_foundation"]
	path = html/assets/themes/_s_foundation
	url = https://github.com/Automattic/_s.git
